input:required:valid {
    border-color: rgb(166, 255, 166);
}

input:invalid {
    border-color: red;
}

body {
    background: url(https://funart.pro/uploads/posts/2021-04/1618590858_46-funart_pro-p-oboi-fon-fon-bezhevii-gradient-48.jpg);
    background-size: 100%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

form {
    width: 50wv;
    margin-left: 30%;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.field {
    margin-bottom: 15px;
}

button {
    padding: 15px 50px;

    background-color: rgb(168, 124, 212);
    border-radius: 10px;
    border-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}